body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);

}


#calculator {
    font-family: Arial, sans-serif;
    max-width: 500px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
}

#display {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 5rem;
    padding: 20px;
    text-align: left;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    transition: font-size 0.2s ease;

}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
    

button {
    font-size: 3rem;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;

}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}